@import url(reset.css);

body{
    overflow: hidden;
}

.width {
    width: 96%;
    height: 100%;
    margin: 0 auto;
}

.pearent_central_cont {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    overflow: auto;
    white-space: nowrap;
    text-align: center;
    font-size: 0;
}

.pearent_central_cont:before {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    content: '';
}

.child_central_cont {
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
    text-align: left;
}

.ad {
    display: block;
    border: none;
}

.download {
    height: 100px;
    color: #FFFFFF;
    text-decoration: none;
    background: rgb(212,75,56);
    padding: 0.7em 1.5em;
    outline: none;
    width: 100%;
    border-radius: 10px;
    font-size: 40px;
}

.img_cont {
    -webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.6, transparent), to(white));
    position: relative;
    z-index: 1;
}

.main_img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    width: 100%;
}

.btn_cont {
    /* background: -webkit-radial-gradient(50% 0%, 50% 55px, #aaa 90%, transparent 100%); */
    padding-top: 25px;
    position: relative;
    z-index: 2;
}


.button_click {
    background: rgb(212,75,56);
    color: black;
}

.buttons_list {
    position: relative;
    height: 100%;
    width: 100%;
}

.close {
    float: right;
    color: #fff;
    border: 1px solid #FFFFFF;
    border-radius: 32px;
    background: rgb(212,75,56);
    font-size: 80px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 30px 8px 30px 6px;
}

.close:before {
    content: "×";
}

.close_cont {
    width: 10%;
}

.company {
    width: 90%;
}

.entire_width {
    width: 96%;
    margin: 0 auto;
}

#wrap {
    background: radial-gradient(circle, #000, transparent);
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.info {
    height: 10%;
    min-height: 90px;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 3;
}

.main {
    min-height: 200px;
    transition: all .3s ease-out;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.buttons {
    height: 10%;
    position: absolute;
    left: 0;
    z-index: 3;
}

.button {
    position: relative;
    transition: all .3s ease-out;
    font-size: 20px;
}

@media screen and (orientation: portrait) {

.info {
    background: linear-gradient(0deg, rgba(255,255,255,0) -50px, rgba(0,0,0,1) 50%);
}

.main {
    height: 100%;
    left: 0;
}

.buttons {
    color: white;
    min-height: 90px;
    background: linear-gradient(180deg, rgba(255,255,255,0) -100px, rgba(0,0,0,1) 50%);
    width: 100%;
    bottom: 0;
}

.button {
    float: left;
    width: 25%;
    height: 100%;
}

}

@media screen and (orientation: landscape) {

.info {
    background: transparent;
}

.main {
    height: 100%;
    width: 90%;
    right: 0;
}

.buttons {
    color: white;
    min-width: 70px;
    background: linear-gradient(270deg, rgba(255,255,255,0) -100px, rgba(0,0,0,1) 50%);
    width: 10%;
    height: 100%;
    top: 0;
}

.button {
    height: 25%;
}
    
}