@import url(reset.css);

body {
    font-family: Arial;
}

#wrap {
    background: radial-gradient(circle, #000, transparent);
    height: 720px;
    width: 480px;
}

.width {
    width: 96%;
    height: 100%;
    margin: 0 auto;
}

.info {
    height: 10%;
    background: linear-gradient(rgba(255,255,255,0) -50px, rgba(0,0,0,1) 50%);
}

.main {
    height: 80%;
}

.buttons {
    height: 10%;
    background: linear-gradient(0deg, rgba(255,255,255,0) -100px, rgba(0,0,0,1) 50%);
}