@import url(reset.css);

body {
    font-family: Arial;
}

#wrap {
    background: radial-gradient(circle, #000, transparent);
    height: 720px;
    width: 480px;
}

.width {
    width: 96%;
    height: 100%;
    margin: 0 auto;
}

.info {
    height: 10%;
    background: linear-gradient(rgba(255,255,255,0) -50px, rgba(0,0,0,1) 50%);
}

.main {
    height: 80%;
}

.buttons {
    height: 10%;
    background: linear-gradient(0deg, rgba(255,255,255,0) -100px, rgba(0,0,0,1) 50%);
}

.pearent_central_cont {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    overflow: auto;
    white-space: nowrap;
    text-align: center;
    font-size: 0;
}

.pearent_central_cont:before {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    content: '';
}

.child_central_cont {
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
    text-align: left;
}

.ad {
    display: block;
    border: none;
}

.download {
    height: 50px;
    color: #FFFFFF;
    text-decoration: none;
    background: rgb(212,75,56);
    padding: 0.7em 1.5em;
    outline: none;
    width: 100%;
    border-radius: 10px;
    font-size: 18px;
}

.img_cont {
    background: -webkit-radial-gradient(50% 0%, 50% 55px, #aaa 90%, transparent 100%);
    -webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(white));
}

.main_img {
    border-radius: 10px;
}

.btn_cont {
    background: -webkit-radial-gradient(50% 0%, 50% 55px, #aaa 90%, transparent 100%);
    padding-top: 20px;
}

.button {
    float: left;
    color: white;
    position: relative;
    width: 25%;
    height: 100%;
    transition: all .3s ease-out;
    font-size: 20px;
}

.button_click {
    background: rgb(212,75,56);
    color: black;
}

.buttons_list {
    position: relative;
    height: 100%;
    width: 100%;
}